<section id="blog-banner">
  <div class="row">
    <div class="medium-12 columns">
      <h1>達比修有網誌中文翻譯</h1>
      <h4>官方網誌請至：<br><a href="http://ameblo.jp/darvish-yu-blog/" target="_blank">http://ameblo.jp/darvish-yu-blog/</a></h4>
 
      
    </div>
  </div>
</section>