<%= render 'banner' %>
<div class="row blog-main">    
  <%= render 'sidebar' %>
  <div class="medium-9 columns">
	  <div class="row">
	    <div class="medium-12 columns">  
			<h2>新增網誌</h2>
			<%= render 'layouts/messages' %> 
			<div class="new-blog">
				<%= render 'form' %>
			</div>
	    </div>
	  </div>
  </div>
</div>