<section id="about-banner">
    <div class="row">
    <div class="medium-12 columns">
      <h1>關於本站</h1>
    </div>
  </div>
</section>
<section class="view-pages" id="pages-about">
  <div class="row">
    <div class="medium-12 columns">      
      <h2>本站成立目的</h2>
        <p>本網站為喜愛達比修有，想更加了解達比修有但苦於不熟悉日語的球迷朋友所設計。</p>
        <p>並且希望有相同愛好的球迷朋友可以互相交流與認識。</p>
      <h2>本站提供之資訊</h2>
        <p>本站持續更新達比修有重要的事情與成就，最新的投球成績，以及其所發佈的網誌之翻譯，並逐步將舊文章翻譯成中文。</p>
        <p>本站成立時間短暫，尚未能有非常豐富之功能，未來將視情形增加，若有任何建議，歡迎<%= link_to '與我們聯繫', new_contact_path %>。</p>

    </div>
  </div>
</section>  