<section id="copyright-banner">
    <div class="row">
    <div class="medium-12 columns">
      <h1>版權宣告</h1>
    </div>
  </div>
</section>
<section class="view-pages" id="pages-copyright">
  <div class="row">
    <div class="medium-12 columns">      
      <h2>本站版權聲明</h2>
        <p>本網站所提供之文字、圖片及數據資料，均由網際網路所取得並整理而成，相關權利為各合法權利人所有，本網站亦不擔保其正確性或完整性。</p>
        <p>本網站「簡介」提供之內容為蒐集網際網路資料再行整理及撰寫，未經許可請勿任意轉載。</p>
        <p>本網站「網誌」所提供之日文內容及圖片，版權為Ameba網站（<%= link_to 'http://ameblo.jp', 'http://ameblo.jp' %>）及達比修有（ダルビッシュ有）先生所有，本網站進行轉載僅為提供日語學習者及欲了解達比修有先生原部落格網站內容之球迷所用，絕無任何侵犯之意；中文內容為本網站自行根據日文原文語意進行翻譯所得，未經許可請勿任意轉載，本網站亦不保證翻譯內容之正確性。</p>
        <p>若有侵害版權之情事，或您有任何疑問或建議，歡迎<%= link_to '與我們聯繫', new_contact_path %>。</p>

    </div>
  </div>
</section>  