<% content_for :title, "簡介" %>
<section id="intro-banner">
    <div class="row">
    <div class="medium-12 columns">
      <h1>關於達比修有</h1><br>
      <h4>達比修有的生平事蹟介紹</h4>
    </div>
  </div>
</section>

<section class="view-pages" id="pages-intro">
  <div class="row">
    <div class="medium-12 columns">      
      <div class="content">
        <p>達比修有，原名「یو درویش‎」，日文名「ダルビッシュ有」，全名為「ダルビッシュ・セファット・ファリード・有」（Sefat Farid Yu Darvish），1986年8月16日出生於日本大阪府羽曳市。</p>
        <p>在日本暱稱為「ダル」（Daru），在台灣常見為「達爾」、「賽亞人」（源自漫畫七龍珠）。</p>
        <p>目前效力於MLB德州遊騎兵隊擔任先發投手，經紀公司為愛貝克思體育（Avex Sports），經紀人有Arn Tellem及團野村（野村克晃）。</p>
      </div>

      <h2>家庭</h2>
      <div class="content">
        <p>達比修有是混血兒，父親法爾沙德（Farsad Darvishsefat）為伊朗人，母親郁代為日本人，他們於美國佛羅里達州的Eckerd大學留學時結識，郁代結束1年的留學生活後即回到日本，而法爾沙德修習機械工程畢業後因伊朗革命及兩伊戰爭而無法完成回伊朗擔任工程師的夢想，因此遠赴重洋來到日本投靠郁代，之後結婚。</p>
        <p>達比修有的父親原本在大學時是足球選手，現因達比修有的關係，擔任伊朗棒球聯盟之顧問，並在大阪聯合經營「達比修藝廊」販賣伊朗藝術品，旨在增進日本與伊朗的文化交流。</p>
        <p>達比修有另有兩位弟弟，二弟達比修翔任職於運動管理公司，並以「Dark翔」之名從事格鬥競技，三弟達比修賢太則擔任演員，藝名為「KENTA」。</p>
        <p>達比修有曾與藝人紗榮子結婚，並有兩名無撫養權的兒子。</p>
      </div>

      <h2>童年</h2>
      <div class="content">
        <p>父親在達修比有3歲的時候，在他的床邊擺上了棒球、籃球與足球，而達比修有最先用手去拿的便是棒球，此刻也註定了他將來會在棒球場上發光發熱。</p>
        <p>在3、4歲前，達比修有家裡的對話都是使用英文，但在進入幼稚園後，母親認為不會日文的話無法交到朋友，而開始使用日文，也隨著父親漸漸學會日文，增加日文對話的比例。</p>
        <p>小時候達比修有會對母親抱怨說「爸爸是伊朗人啊」，而讓母親傷心流淚，母親也會為了達比修有對父親的辱罵而打罵斥責「就算你不了解爸爸從外國來是多麼的辛苦，也請你好好正面看著你老爸！」。</p>
        <p>其實在一開始，達比修有是同時打冰上曲棍球跟棒球的，但他覺得練冰上曲棍球太辛苦了，而選擇專注練習棒球。小學2年級時當達比修有說想加入地方的少年棒球隊的時候，父親覺得說「日本式的運動啊，不錯吧」，而加入當地的全羽曳野少年棒球隊，正式開始棒球的訓練。之後因為幫助球隊拿下了全國大賽前8強、世界大賽第3名的佳蹟，達比修有吸引了多達50間以上高校球探的注意，最後因環境因素等考量，選擇遠赴宮城縣仙台市東北高校就讀。</p>
      </div>

      <h2>甲子園</h2>
      <div class="content">
        <p>在高一的秋天，達比修有就成為了球隊的王牌投手，超過190公分的身高優勢，使得他能投出最快147KM/H的速球。在高二及高三皆分別參加了春季及夏季甲子園，總計參加過4次的甲子園。在高二的夏季甲子園，決賽敗給了常總學院，取得亞軍；在高三的春季甲子園中，對上熊本工業高校投出了甲子園史上第12次、睽違10年的無安打比賽。</p>
        <p>而在最後一次的高三夏季甲子園，雖然前兩場比賽達比修有都投出了完封勝，但在第三場面對千葉經大附中的比賽，9局上2出局1比0領先，眼看有機會拿下連三場完封勝的達比修有，在大雨中斷比賽後，打者擊出三壘滾地球，三壘手未能掌握住球而讓三壘跑者跑回追平分；而在延長十局上又讓對手攻下一分，最後在十局下，看著球進好球帶站著被三振的達比修有，成為比賽最後一個出局者，在雨中以遺憾結束了甲子園生涯。</p>
        <p>雖然在高三夏季甲子園結束沒多久後的9月，被週刊雜誌拍到抽煙的照片而受到高中棒球聯盟嚴厲的處份，但達比修有仍舊掀起高中生選秀的搶人風潮，除了當年申請欲加入日本職棒的Livedoor鳳凰與樂天金鷹，還有歐力士野牛、日本火腿鬥士等4支球團都宣稱將獲得達比修有。雖然有傳言說達比修有會直接加入美國大聯盟，並且包含天使、勇士等球探皆對其相當有興趣，但本人表示這將是未來的目標，會先在日本打球；最終在日職選秀會議上由日本火腿取得單獨第1指名權，達比修有在父親陪同下，以簽約金1億日元、年薪1500萬日元、激勵獎金5千萬日元，在松阪大輔、寺原隼人之後，高中生最優渥的條件與日本火腿隊簽約。</p>
      </div>

      <h2>日本職棒</h2>
      <div class="content">
        <h4>2005年</h4>
        <p>受到前一年自主訓練造成右膝關節炎的影響，醫師下令不得參加1月的新人聯合自主訓練，因此達比修有的春訓從二軍開始。</p>
        <p>春訓期間達比修有再次被週刊雜誌拍到在未成年禁入的柏青哥店內吸煙，對此球團將他送回千葉縣鎌谷市的球團宿舍進行無期的禁閉處分並進行社會服務，而學校方面也下令停學，直到其他同學畢業一週後才解除，而晚別人一週畢業。</p>
        <p>之後達比修有持續在二軍進行復健，5月在二軍東方聯盟初登板，並在後面的比賽中投出完封勝。6月正式升上一軍，在對廣島的初登板中8局2失分的表現拿下勝投，之後在對西武的比賽中拿下首場完投勝、對東北樂天金鷹投出第一場完封勝，並穩定的在球隊先發輪值名單中，總計14場比賽成績5勝5敗。在年末獲合約更改，年薪從1500萬日圓倍增為3千萬日圓。</p>

        <h4>2006年</h4>
        <p>雖然2月達比修有因為右肩疼痛而起步較晚，且4月底前只有防禦率5.16、WHIP 1.45的不佳成績，但在5月30日第10場比賽之後，該年例行賽便未再嘗敗績，並拿下10連勝，最終防禦率2.89、12勝5敗。</p>
        <p>在7月7日對崎玉西武獅的比賽中，因為達比修有將客場用球衣忘在札幌巨蛋的置物櫃中，而只好跟隊友八木智哉借球衣上場，那場比賽7局1失分的好表現帶領球隊拿下平日本火腿隊前身東映飛人隊在1961年9月創下的11連勝的球隊紀錄，本人當時也表示，「若輸了的話就太慘了」。</p>
        <p>從那年球季尾聲開始，達比修有很常與搭配效果不錯的捕手鶴岡慎也搭檔，2007年季中以後也幾乎由鶴岡接捕達比修有先發的場次。</p>
        <p>達比修有在季後賽第2輪第1戰先發主投，11三振1失分拿下完投勝。在面對中日隊的日本大賽中，首戰6局3失分吞下敗戰，在3勝1敗的第5戰，中4日再度先發，7又1/3局1失分拿下勝利，也幫助球隊拿下睽違44年的第2次總冠軍，並獲得日本大賽的優秀選手獎。</p>
        <p>接下來的亞洲職棒大賽，達比修有在冠軍賽面對中華職棒的La New熊，7局10三振無失分的精彩表現，助球隊拿下冠軍，並獲頒亞職大賽MVP。</p>
        <p>球季結束後，年薪從3000萬日圓增為7200萬日圓。</p>

        <h4>2007年</h4>
        <p>達比修有擔任該年球隊的開幕戰先發投手，是隊史上第4個年資3年內榮任開幕戰先發的高中畢業選手，該場比賽前5局都未失分，但在第6局被Zuleta一棒擊出滿貫砲失掉4分，不過7局時因雨勢過大比賽裁定和局而無關勝敗。在第2場對西武以及第3場對軟銀的比賽中分別投出了14次三振，是日職史上第2位連續兩場投出14K的投手。在8月9日對樂天先發勝投的賽後記者會上，宣布將與已有身孕的藝人紗榮子結婚，並於該年11月11日完成結婚手續。</p>
        <p>球季成績15勝5敗、防禦率1.82、WHIP 0.83、被打擊率0.174、完投數是全聯盟最高的12次。在球季的尾聲與羅德隊的成瀬善久競爭防禦率王，最終以0.003的些微差距落敗。不過達比修有不但是自前中日隊投手今中慎二後，14年以來第一個在7項評選標準全部符合而獲頒澤村賞的選手，更獲得了三振王、金手套、最佳九人等殊榮。除此之外也是球隊在太平洋聯盟連霸的重要功臣，而獲選聯盟例行賽MVP。當時21歲的達比修有，是僅次於澤村榮治（澤村賞所紀念的選手）、稻尾和久在20歲獲選MVP的最年少紀錄。球季後也受北京奧運國家代表隊總教練星野仙一指名為王牌投手。</p>
        <p>在高潮賽的第2輪，達比修有首戰先發完投9局2失分拿下勝投，之後在2勝2敗的最終戰第5場，擊敗對手成瀬善久而打進日本大賽，並以2勝獲選高潮賽第2輪的MVP。日本大賽連續兩年面對中日隊，首戰完投9局13K僅失1分，表現比下也是完投的川上憲伸而奪勝，並成為日本大賽第3位單場13K的選手；在1勝3敗背水一戰的第5戰再度先發主投，7局11K失1分的優異表現，卻因對手山井大介（8局）、岩瀬仁紀（1局）聯手投出完全比賽而苦吞敗投，也無緣達成日本一2連霸的美夢，但2場比賽24K也是日職季後賽中第2高的，且優異的投球表現獲頒英勇戰鬥獎（敢闘選手賞）。</p>
        <p>球季結束達比修有年薪一口氣從7200萬日圓來到2億日圓，不但是史上最年輕的2億日圓年薪選手，第4年到達2億日圓也超越了和田毅第5年到達的紀錄。</p>
        <p>依日本國籍法規定，滿22歲的達比修有無法繼續持有雙重國籍，必須面臨國籍的選擇；關於此，父親曾表示，「考慮自己能為地方社會有什麼貢獻，以能發揮自己的長處為方向來思考，我是這麼來教育孩子的」，也透露了母親對達比修有的未來之夢想「希望達比修有能站穩大聯盟的舞台，而成為關係惡化的伊朗及美國之間的橋梁」。最終為了代表日本參加北京奧運，宣布放棄伊朗國籍。</p>
        <p>12月在台灣舉辦的爭取奧運資格的亞錦賽，最後的一場比賽達比修有出戰中華隊，7局的投球僅在6局被陳金鋒擊出全壘打失掉2分，最終日本隊在比賽尾聲大舉猛攻，以10比2大勝中華隊，取得第一名及奧運參賽權。</p>
        <p>達比修有在該年女性雜誌「GLAMOROUS」刊載了裸體寫真，以及女性雜誌「an·an」的泳裝封面及全裸寫真。</p>

        <h4>2008年</h4>
        <p>3月20日，達比修有連續兩年榮任開幕戰先發投手，面對羅德隊失1分、10K，投出完封勝，也創下日職首次開幕戰以1比0完封，且三振數來到兩位數的紀錄。不只如此，達比修有也以比前一年更快的速度累積勝投數，在球季的前半段，與樂天的岩隈久志爭奪勝投與防禦率王。兩個人唯一的對戰是4月10的比賽，在前5局雙方都沒讓對手擊出任何安打，最終岩隈以100球3安打僅失1分完投，而達比修更勝一籌，95球3安打完封，在這場投手戰中取得勝利。雖然在奧運前的最後一場比賽中，遭羅德隊包括滿貫全壘打在內攻下5分，以165球吞下完投敗，但在球季的前半段，達比修有已拿下11勝。</p>
        <p>達比修有在北京奧運預賽首場對古巴的比賽被授與先發重任，但只投了4局就失4分被打退場承擔敗戰，甚至對手Castillo在賽後訪問時表示，達比修有的球很好打。2天後，達比修有將原本的長髮剃成三分頭，還說「我剃了你也剃吧」，半強迫叫田中將大也剃頭，田中表示「我也遭殃了」。不只如此，在隔天，除了幫達比修有剃頭的川崎宗則，還有阿部慎之助也剃成了三分頭出現在球場。但是，因為第1場比賽的表現，已經讓星野教頭失去了信心，原先預定在四強賽的先發遭到撤換，結果只在預賽最後一場對美國的消化賽中先發，以及在季軍賽對美國的比賽中擔任敗戰處理。</p>
        <p>達比修有回到母球隊後，5場比賽包含2場完投，繳出了5勝0敗、防禦率1.29、WHIP 0.66的優異成績，這是與羅德隊激烈爭奪第3名的重要關鍵。在季後的高潮賽第1輪首戰對上歐力士，1失分14K完投勝，比賽中拿出了在例行賽尾聲被封印的指叉球與二縫線球，且最快球速達到153km/h，這場比賽14次三振是包含日本大賽在內的日職季後賽史上最多的紀錄。在第2輪第2戰面對西武投出3安打完封勝，此役面對右打眾多的西武打線，不斷以二縫線攻擊內角，只讓該年打擊強悍的西武擊出3支安打，只被擊出3支安打是季後賽最低的紀錄。高潮賽累計防禦率僅0.50。雖然該年主要獎項都未能獲得，但防禦率、勝投數、三振數都是聯盟第2，就算因為奧運少了第場比賽，投球局數跟三振數都連續2年超過200，且連續2年防禦率1點多，WHIP也在1以下。就連澤村賞評選標準也連續2年全項目超過門檻，但可惜澤村賞由拿下21勝的岩隈久志獲得，達比修有無法連續2年獲選澤村賞。這也是在1982年的巨人隊投手江川卓以來，第2位評選標準全部達成，卻未獲澤村賞的還手（只不過當年獲澤村賞的廣島隊北別府學也是評選標準全部達成，而這年岩隈的完投數未達標準）。</p>
        <p>球季後年薪由2億日圓增為2億7千萬日圓，是職業第5年選手的最高薪紀錄。12月19日與紗榮子在夏威夷檀香山舉行婚禮，婚禮除了父親、同年3月出生的長子等親人外，還有藤井秀悟、川崎宗則、西岡剛、青木宣親及封王旅行中的西武涌井秀章、中島裕之也到場祝賀。</p>

        <h4>2009年</h4>
        <p>達比修有代表日本參加第2屆世界棒球經典賽（WBC），並與松坂大輔、岩隈久志一同被原辰德總教練指名為先發三本柱。在3月5日日本隊首場比賽對上中國先發4局無安打無失分拿下勝投。3月18日對韓國的比賽先發出賽，首局遇亂流失掉3分，合計5局7K失3分（2分責失）吞下敗投。3月23日的四強賽、3月24日的冠軍賽，先發投手分別是松坂及岩隈，達比修有皆上場擔任救援，四強賽對美國的比賽中被測到球速達到100mph（約161km/h），且現場計分板顯示108mph（約174km/h），但證實是計分板發生故障。在冠軍賽對韓國的比賽，9局下因連續保送與安打讓對手奪下追平的1分而救援失敗，但靠著鈴木一朗10局上關鍵的2分打點安打超前比數，10局下成功關門取得勝投，幫助日本隊完成經典賽2連霸的壯舉。總計經典賽達比修有13局2勝1敗，防禦率2.08，及大會最多的20次三振、最低的WHIP 1.00。MLB的強打者Manny Ramirez及Ken Griffey, Jr.都對其讚譽有嘉。</p>
        <p>達比修有連續3年擔任球季的開幕戰先發投手，並對戰樂天岩隈久志，第1局就失掉3分，最終完投9局吞下首次開幕戰的敗投，也是對上岩隈的第1敗。4月24日對上歐力士，投出了包含連續6人次在內的11次三振，也拿下生涯第一場一直覺得很難投的室外球場完封勝。之後的比賽表現也相當穩定，5月投出4勝0敗、防禦率0.90、WHIP 0.90的優質內容，獲選為太平洋聯盟的投手月MVP。另外在跨聯盟交流戰也拿下全聯盟12球隊最佳的防禦率1.15好成績。7月15日，對軟銀投出完投勝後的記者會中，達比修有公佈妻子懷有第2胎的喜訊。之後的比賽也持續維持好表現，在7月22日上半季最後一場比賽對羅德隊完投9局2安打1失分，拿下個人職棒生涯的第60勝。結算總共107場比賽60勝，是日職改雙聯盟後，超越松坂大輔第111場達成的最快60勝紀錄。有鑑於達比修有上半季12勝3敗、防禦率1.31、WHIP 0.83、122三振的好表現，當年明星賽不論是球迷投票或選手間投票都獲得了第1名。7月24日明星賽第1場在中1日的情況下先發，但遭到巨人隊Alex Ramirez擊出的投手強勁飛球擊中右肩而緊急退場。在此之後狀況變差，防禦率2.80、WHIP1.09，在8月21日對軟銀的比賽更是投出自己最差的6失分吞敗。自從肩膀被球打中後，達比修有在比賽中段以後球威變差、易失分的情形屢見不鮮，因為在將內出血抽出後仍有拉傷般的僵硬感，肩膀容易緊繃，因此在隔天8月22日向球團反映右肩不舒服，2006年6月以來第一次進入傷兵名單。雖然在9月13日再度復出，且對上羅德隊先發8局1失分拿下15勝，但球速不如以往，且在下一場對歐力士的比賽投出7次四壞，5局失2分即退場，之後再因右肩及腰部不適再度進入傷兵名單，之後例行賽便未再出場。</p>
        <p>球隊該季得到聯盟第一，在高潮賽時達比修有因傷勢未恢復完全而皆未出賽，但在日本大賽時，即便狀況仍未理想，還是在第2場先發，面對很少對戰的巨人使用100km/h初頭的慢速曲球相當有效果，投了6局7三振2失分，以4比2獲得勝投。雖然為了減輕舊傷的負擔，使用如傳接球般的短跨步，但仍投出最快149km/h的速球。達比修有在發表感言時表示「拿出現在狀況的極限，當作此生只剩一場比賽在投球」。球季結束後，可能也是因為3年來的季後都沒好好休息，至醫院詳細診斷後發現右手食指疲勞性骨折。在日本大賽出賽的11月1日前的10月28日就開始疼痛，但沒告訴任何人而持續上場投球，在右手食指骨折、左腰、左臀疼痛的情況下還能壓制當年日本一的巨人打線取得勝投。</p>
        <p>雖然下半季因傷所苦，但仍達成現役先發投手唯一一個達成連續3年WHIP在1.0以下的紀錄，並獲得防禦率王、勝率王、最佳九人與MVP等獎。在進入職棒後能在5年內拿到2次MVP，是在稻尾和久、鈴木一朗之後的第3人。在年薪方面也獲得加薪6千萬日圓來到3億3千萬日圓的獎勵，成為超越1997年季後以24歲獲得3億日圓以上年薪的鈴木一朗，最快且最年輕的3億日元選手的紀錄保持人。在當年7月，達比修有秉持將自己鑽研出的球技回饋日本棒球界的想法，出版了「達比修有變化球聖經」，書中收錄了10種球種握法的照片及親自解說等。另外當年山崎將義、慎原敬之等男歌手的合輯「男人哭泣」，也以達比修有做為專輯封面。</p>

        <h4>2010年</h4>
        <p>達比修有連續4年擔任開幕戰先發投手，雖然使用147球13次三振成為史上第5位連續4年開幕戰完投的選手，但失5分（責失3）成為敗投。之後在第5場對上西武的比賽中，創下了開幕以後連續5場比賽投出2位數三振的日職新紀錄（13K→11K→11K→12K→10K）。而在從4月20日對樂天到5月21日對橫濱的比賽之間，達比修有連續31局未失分，刷新原本個人最長25局沒失分的紀錄。5月時雖然WHIP有1.23，但防禦率只有0.90相當優異，但因為打線不夠幫忙，只拿下1勝2敗的戰績。僅管達比修有在6月5日因右膝不適跳過一次先發，但在6月12日對中日的比賽7局無失分，拿下隔了1個多月的勝投，且在7月3日對樂天的比賽，投出155km/h的速球，刷新個人最快154km/h的紀錄，緊接著又在7月17日對樂天中投出156km/h，繼續更新紀錄，可惜該場7局失3分吞下敗投，也終止了個人的5連勝。上半季達比修有戰績9勝5敗，防禦率1.56，WHIP 1.04，143次三振，連續4年獲選明星賽，在第1場比賽擔當第2任投手，並展現了一縫線、高速變速球等新球種，2局的投球失掉1分非自責分。在下半季，達比修有一共投了69局，3勝3敗，防禦率2.22，WHIP 0.95，79次三振。</p>
        <p>雖然球季中達比修有的投球一直很穩定，但本季8敗是生涯最差，且未能維持連續4年WHIP在1.0以下，不過投球局數又再度來到200局以上，222次三振也創下個人新高並拿下三振王，並且是在1959年稻尾和久之後第1位連續4年防禦率1點多，連續2年獲得防禦率王的選手。另外用來計算投手失分率與其他選手比較的指標RSAA也是1959年稻尾和久以來第一位連續4年達到40以上的選手。</p>
        <p>雖然在季後有傳言說道亞利桑那響尾蛇隊將以8000萬美元，籍入札制度簽下達比修有，但本人在部落格中表示自己將留在日本火腿隊。季後合約更改從這3年總計8億日圓年薪加激勵獎金改為年薪5億無激勵獎金的新約，達比修有在24歲到達5億日圓，超越1998年25歲的鈴木一朗，成為最快最年輕的5億日圓選手，而5億日圓的先發投手，也是史上第一人。</p>
        <p>達比修有的妻子紗榮子在2008年3月產下長子後，為了學習當新媽媽育兒，開始往返故鄉宮崎及札幌，日本兩端的生活，而達比修有因此有了外遇的不倫行為，在本年9月，夫妻正式攤牌，達比修有表示「妳無法接受就離婚啊」，並且兩人於11月20日分別在各自的部落格發表相同的聲明，表示已委託律師進行訴訟，婚姻已正式破局。</p>

        <h4>2011年</h4>
        <p>受到東北大地震的影響，日本職棒延後開打，4月12日達比修有擔任日本火腿隊史上最長的連續5年開幕戰先發投手，對戰西武隊，但7局的投球失掉個人生涯最多的7分，連續3年開幕戰都吞下敗投。在4月26日對軟銀的比賽中，達比修有達成生涯1000次奪三振的里程碑，是日職史上的第129人。6月15日對阪神的3局下半2出局3壘有人，達比修有面對新井貴浩投出了偏高的球形成暴投，使得三壘跑者Murton跑回本壘得分，中斷了日職史上排名第11（現役選手則是僅次於藤川球兒的第2名）的連續46又2/3局未失分的紀錄，也未能挑戰太平洋聯盟新紀錄的連續4場完封勝。</p><p>在跨聯盟交流戰中，43局1責失，寫下了最低防禦率0.21的新紀錄，接著又在6月30日，達比修有在球隊的第56場比賽就拿下10勝，是本世紀最快的紀錄。上半季13勝2敗、防禦率1.44，140次三振，達比修有再度於明星賽的球迷投票與選手間投票獲得第1，連續5年入選明星賽。下半季表現則為5勝4敗、防禦率1.43、136次三振。在季後的高潮賽中達比修有於第1輪第1場先發對上西武隊，7局7三振僅失1分，但球隊9局時遭到追平，並於延長賽中落敗，最終也未能晉級第2輪。結算本季，達比修有在個人最多的232局投球中，投出生涯最低的1.44防禦率、生涯最多的18勝、先發投手中最低的0.83 WHIP，以及自1993年野茂英雄後第一次有投手投出250次以上的276次三振、日職史上第一次的連續5年防禦率在2以下、第一次連續5年RSAA在40以上的各項紀錄。該球季也是自2008年以後，相隔3年第3次在澤村賞評選標準全部達成，可惜獎項以2比3敗給了也是評選標準全部達成，勝投數、完投數、防禦率、勝率更優異的田中將大，達比修有是史上第一位兩次以上評選標準全部達成卻未得澤村賞的投手。</p>
        <p>球季後，達比修有在自己的部落格宣佈已申請使用入札制度。報導指出多倫多藍鳥隊與紐約洋基隊也參與競標達比修有，但最終於12月20日德州遊騎兵隊發表聲明，以5170萬美元，超越松坂大輔的史上最高入札金取得交涉權。</p>
      </div>

      <h2>美國職棒</h2>
      <div class="content">
        <h4>2012年</h4>
        <p>台灣時間1月19日，達比修有與遊騎兵隊簽下6年5600萬美元外加400萬美元激勵獎金總值6千萬美元的合約，選用與日本火腿隊時相同的11作為球衣背號。達比修有也在同一天，在部落格宣佈與妻子紗榮子離婚的消息。雖然達比修有曾經公開表示「叫我去大聯盟的話，我就不打棒球了」，但在1月24舉行的日本火腿隊退隊記者會上，除了再次為7年前吸煙的事件向大眾道歉外，也表示希望對手打者能充滿自信的站上打擊區，有個高強度的對決，並希望日本棒球能被世界所看到，是為轉戰大聯盟心境上的轉變。</p>
        <p>4月9日對戰西雅圖水手隊的大聯盟初登板，雖然第1局就失掉4分，但5又2/3局被打8支安打，失5分，5次三振5次四壞，靠著隊友歡迎新同學的火力支援，仍舊拿下首場勝利。達比修有在大聯盟投出的第一個三振的苦主是Dustin Ackley，而第一個在達比修有手上敲出的安打是鈴木一朗擊出的左外野一壘安打。大聯盟初登板首局失掉4分還能拿下勝投是自1910年紅雀隊Bill Steele以後，102年來的第一人。</p><p>達比修有第一場客場出賽是4月14日出戰雙城隊，5又2/3局9安打4失敗4四壞失2分無關勝敗。4月24日與洋基隊的黑田博樹同場較勁，為史上第7次日本人同場先發對決，8又1/3局7安打無失分，10次三振2次四壞，並曾投出最快97mph的速球，雖然很有機會挑戰首場完封，但9局上1出局被Nick Swisher擊出一壘安打後被換下場，接替的Joe Nathan只用1球就讓打者擊出雙殺打完成救援，達比修有也拿下第3勝。</p><p>4月30日被藍鳥隊Edwin Encarnación擊出大聯盟被敲的第一支全壘打，該場7局投球僅失掉該分，並投出9次三振拿下勝投。4月5場出賽，4勝0敗，防禦率2.18，WHIP 1.42的成績獲選聯盟單月最佳新人獎。5月6日對戰印地安人，6局6安打失4分，投出大聯盟生涯新高的11次三振，但吞下大聯盟第一場敗投。5月20日對戰藍鳥隊，雖然因腰部不適，投完5局就退場，但達比修有仍拿下美日合計的第100勝。</p><p>6月25日達比修有首次在跨聯盟比賽中先發，出戰太空人隊，接著在20日對上教士隊的比賽，大聯盟生涯首度上場打擊就從Anthony Bass手中敲出斷棒的一壘安打，但下一棒Ian Kinsler擊出雙殺打而出局在二壘前，該場達比修有打擊表現為3支1。</p><p>上半季16場先發10勝5敗防禦率3.59，WHIP 1.36，在最終投票中，達比修有獲選明星賽。在最終投票前，因為可以使用Twitter投票，達比修有跟隊友一樣，在自己的Twitter上邀請大家幫忙投票。在明星賽前一天的記者會上，達比修有表示「全部都是很強的選手感覺有點奇怪，能夠像這樣、能在這個地方，我覺得我有所成長」。明星賽雖然沒有上場，但達比修有跟David Price、Joe Mauer等人談天，也表示「對我來說第一次的明星賽能跟一些人談話相當開心」。</p>
        <p>在下半季一開始的前6場，達比修有四壞球率6.15，陷入控球問題，甚至在8月2日對上天使隊的比賽，出現進入職棒後生涯最差的1局失6分的狀況。但接受了球隊總經理特助Greg Maddux的指導，並參考David Price的投球動作後修改了投球姿勢，達比修有在之後的7場比賽中，四壞球率來到1.77，控球也更加穩定，在9月8日對光芒的比賽中刷新球隊歷史已經26年的新人最多的189次三振，更在14日對上水手與岩隈久志對決的比賽中投出第200K，該場比賽7局2安打1失分拿下第15勝。接著又在20日對天使的比賽8局4安打1失分，拿下史上日本選手新人球季最多的16勝。球季總計拿下聯盟第6的16勝、並列第5的221次三振，但球隊在例行賽最後一場比賽失去了分區第一名的寶座，而必須打外卡驟死賽，雖然達比修有先發對上金鶯6又1/3局5安打失3分優質先發，但仍苦吞敗投，未能助球隊打進分區系列賽。球季結束後在新人王的票選中拿到第3名。</p>

        <h4>2013年</h4>
        <p>4月2日在球隊的第2場比賽中，達比修有擔任先發出戰轉到美聯的太空人隊，開局後連續解決26位打者，離職棒生涯第一場完全比賽只差1個出局數，但Marwin González相中達比修有的第111球，穿過達比修有的跨下形成一壘安打，毀掉達比修有的完全比賽與無安打比賽，而總教練隨即讓他下場休息，接手的Michael Kirkman成功解決下一名打者，助達比修有拿下第1勝。雖然是史上第11位9局2出局後挑戰完全比賽失敗的投手，但9又2/3局的投球只被敲出1支安打無四壞，投出個人最多的14次三振，球速也來到個人最快的97mph。</p><p>4月19日對戰水手隊投出美日合計的第1500次三振，5月5日出戰紅襪投出美聯自2000年Pedro Martinez、Mike Mussina以來第一次單季2次14次三振的紀錄，5月11日面對太空人投出大聯盟生涯的第300次三振，第37場達成的速度是僅次於1985大都會隊Dwight Gooden的第2快，接著在5月27日對上響尾蛇再次投出單場14次三振，並寫下大聯盟日籍選手球季最快達成第100次三振的紀錄。</p><p>鑑於上半季達比修有18場比賽8勝4敗、防禦率3.02、WHIP 1.05、聯盟最多的157次三振，由選手間投票連續2年獲選明星賽。雖然被認為是策略性的因右斜方肌拉傷進入傷兵名單，連續2年未在明星賽中出場，但有機會與Justin Verlander等球星聊天的達比修有表示「周圍有群優秀的選手是很開心的事，希望下次也能來」。</p>
        <p>在8月1日大聯盟的第50場登板，達比修有出戰響尾蛇隊7局5安打、無失分，再次投出個人最多的14次三振，單季4次14三振也追平球隊最多的紀錄，而3次14次三振且無四壞的表現是自1997年藍鳥隊Roger Clemens及2001年響尾蛇隊Randy Johnson以來的第3人。8月12日出戰太空人投出7.1局的無安打比賽，並飆出生涯新高的15次三振，也達成本季的第200次三振。8月30日對上雙城隊時寫下球隊單月最多的64次三振的新紀錄。9月4日面對運動家隊雖然創日本人單季三振數新高的240次，也失掉本季個人最多的5分，吞下第7敗。9月24日與太空人的比賽中達成來到大聯盟後的第200局。</p><p>下半季14場比賽防禦率2.59、WHIP 1.11，但包含上半季1場，達比修有總共有4場比賽以0比1輸球，這是1989年道奇隊Orel Hershiser以來的新紀錄，因此只有5勝5敗的成績。球季結算13勝9敗，美聯第4的防禦率2.83、並列第4的WHIP 1.07、全聯盟最多的277次三振，是野茂英雄之後第2位獲得三振王的日本人，三振率11.89是大聯盟史上的第9名。球隊連續2年為爭取外卡資格打驟死賽，但敗給了光芒隊，再次無法晉級。</p><p>在賽揚獎的投票中與岩隈久志一同入選美聯的3人入選名單中，是史上第一次有2名日本人入選，但最後敗給了高票獲獎的老虎隊Max Scherzer，獲得第2名。</p>
      </div>

      <div id="ref">
        <h5>參考資料：</h5>
        <%= link_to 'http://ja.wikipedia.org/wiki/ダルビッシュ有', 'http://ja.wikipedia.org/wiki/%E3%83%80%E3%83%AB%E3%83%93%E3%83%83%E3%82%B7%E3%83%A5%E6%9C%89' %><br />
        <%= link_to 'http://homepage3.nifty.com/fure/1510-uraneta-i.html', 'http://homepage3.nifty.com/fure/1510-uraneta-i.html' %> <br />
        <%= link_to 'http://yukata-diary.seesaa.net/article/279704054.html', 'http://yukata-diary.seesaa.net/article/279704054.html' %>
      </div>
    </div>
  </div>
</section>